body {
  margin: 0px;
  padding: 0px;
  background-image: url(images/backdrop.jpg);
  background-size: cover;
  color: white;
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: rgb(96, 0, 185);
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 80px 20px;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

li {
  margin-left: 80px;
}

h1,
h2,
h3 {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
  width: 200px;
}

ul {
  list-style: none;
}

.home img,
.about img {
  width: 400px;
}
